#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Responsive container */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (min-width: 640px) {
  .container {
    padding: 0 3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 6rem;
  }
}
